name: Build & Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
permissions:
  contents: write
  
jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64

      - name: Run build script
        run: build.bat

      - name: Verify output
        run: dir

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            main.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
